<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="box">Content 1</div>
    <div class="box">Content 2<br>with multiple lines</div>
    <div class="box">Content 3</div>
    <div class="box">Content 4</div>
  </div>

      <style>
        .container {
          display: flex;
}

.box {

  background-color: #ccc;
flex: 1;


}
      </style>
</body>
</html>